<h1>Browse Profiles</h1>
<hr />
<div class="row">
<% @gender_matches.each do |profile| %>
  <div class="col s4 offset-s1">
      <div class="card blue-grey">
        <p>Username: <%= "#{User.find(profile.user_id).user_name}" %></p>
        <p>Bio: <%= profile.bio %></p>
        <p>Age: <%= profile.age %></p>
        <p>Gender: <%= profile.gender %></p>
        <p>City: <%= profile.city %></p>
        <div class="card-action">
          <%= link_to "See #{User.find(profile.user_id).user_name}", profile_path(profile.user_id)%>
        </div>
      </div>
  </div>
<% end %>
</div>

<%= link_to 'Home Page', root_path %>
