<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>Browse Profiles</h1>
<hr />
<div class="row">
<% @gender_matches.each do |profile| %>
  <div class="col s4 offset-s1">
      <div class="card blue-grey">
        <p>Username: <%= "#{User.find(profile.user_id).user_name}" %></p>
        <p>Bio: <%= profile.bio %></p>
        <p>Age: <%= profile.age %></p>
        <p>Gender: <%= profile.gender %></p>
        <p>City: <%= profile.city %></p>
        <div class="card-action">
          <%= link_to "See #{User.find(profile.user_id).user_name}", profile_path(profile.user_id)%>
          <% if current_user.profile.likes?(Profile.find(profile)) %>
            <%= link_to "Un-Like ", toggle_like_path(profile), method: :post %>  
          <% else %>
            <%= link_to "Like #{User.find(profile.user_id).user_name}", toggle_like_path(profile), method: :post %>  
          <%end %> 
        <% end %>    
        </div>
      </div>
  </div>
  <div id='foot'>
    <%= link_to edit_profile_path(current_user) do %>
      <i class="material-icons large">settings_applications</i>
      <% end %>
    <%= link_to root_path(current_user) do %>
      <i class="material-icons large">view_day</i>
      <% end %>
    <%= link_to profile_path(current_user) do %>
        <i class="material-icons large">person_pin</i>
        <% end %>
    </div>
</div>
